@charset "utf-8";
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// Tool: https://coolors.co/00d1b2-ffffff-ff3860-174287-44af69
// Greens: #004E64, #182825, #44AF69 (best of the light greens), #29BF12, #08605F (best of the dark greens)
// Dark Purple: #413C58 (initial choice and still the best), #66101F (pretty red), #5D576B (pretty light), #4C191B (quite red), #483C46, #171738
$dark-purple: #413C58;
$dark-purple-invert: findColorInvert($dark-purple);
$custom-colors: ("dark-purple": ($dark-purple, $dark-purple-invert));
// $custom-colors: ("orange": ($orange, findColorInvert($orange)));
// $custom-colors: ("purple": ($purple, findColorInvert($purple)));

$footer-padding: 3rem 1.5rem;

@import "~bulma/bulma.sass";